img{
  max-width:4000px;
}

body {
  font-family:Verdana, sans-serif;
  max-width: 80%;
  margin: 50px auto;
  color:#444;
  background-color:#F9F7F5;
}
h1,h2,h3{line-height:1.2}


@media (hover: none)  {
  body {
    max-width: 98%;
  }
}

@media (max-width: 800px) {
  body {
    max-width: 98%;
  }
}
